@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
/* Reset CSS
* --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

.hidden {
  display: none;
}

/* Reset CSS end
* --------------------------------------- */
/*웹폰트(kopub체) */
@font-face {
  font-family: 'kopub';
  src: url("../font/KoPubDotumMedium.eot") format("embedded-opentype"), url("../font/KoPubDotumMedium.woff") format("woff");
}

@font-face {
  font-family: 'kopublight';
  src: url("../font/KoPubDotumLight.eot") format("embedded-opentype"), url("../font/KoPubDotumLight.woff") format("woff");
}

@font-face {
  font-family: 'kopubbold';
  src: url("../font/KoPubDotumBold.eot") format("embedded-opentype"), url("../font/KoPubDotumBold.woff") format("woff");
}

div.shadow {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
}

div#modal {
  display: none;
  background: #fff;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 20px 50px 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1001;
}

div#modal h1 {
  font-size: 13px;
  font-weight: 900;
  margin: 30px 0 20px 0;
  letter-spacing: -1px;
  text-align: left;
}

div#modal p {
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 1.5;
  margin: 10px 0;
}

div#modal a#close {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #333;
}

nav.form-navi ul {
  height: 35px;
  background: #ddd;
}

nav.form-navi ul li {
  width: 120px;
  float: left;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: 900;
  color: #999;
}

nav.form-navi ul li a {
  display: inline-block;
  width: 100%;
  color: #999;
}

nav.form-navi ul li a:hover {
  text-decoration: none;
}

nav.form-navi ul li.active {
  color: #333;
  border-bottom: 3px solid orangered;
}

nav.form-navi ul li.active a {
  color: #333;
}

form.validate {
  clear: both;
  margin-top: 50px;
}

form.validate label.btn {
  padding: 5px 10px;
  position: relative;
  left: -30px;
}

form.validate span.error {
  margin-left: 10px;
  color: orangered;
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  bottom: 0;
}

div.page.form {
  width: 80%;
  max-width: 650px;
  margin: 100px auto;
  clear: both;
}

div.page.form h1 {
  letter-spacing: -3px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

div.page.form h2 {
  display: inline;
  font-weight: 900;
  font-size: 15px;
  padding: 5px 0;
  letter-spacing: -1px;
}

div.page.form span.required {
  font-size: 14px;
  color: red;
  padding: 3px;
}

div.page.form span.length {
  font-size: 12px;
  color: #aaa;
  letter-spacing: -1px;
  position: relative;
  top: -10px;
}

div.page.form span.file {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

div.page.form span.file.business {
  margin-left: 75px;
}

div.page.form span.file:hover {
  text-decoration: underline;
}

div.page.form span.file i {
  margin: 0 3px;
}

div.page.form span.detail {
  font-size: 12px;
  color: #aaa;
  margin-left: 50px;
}

div.page.form a.example {
  position: absolute;
  top: 5px;
  font-size: 11px;
  letter-spacing: -1px;
  font-weight: bold;
  background: #ddd;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 6px;
}

div.page.form p.notice {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #aaa;
  padding: 8px 0;
}

div.page.form p.notice.warning {
  color: orangered;
}

div.page.form p.notice.warning a {
  font-weight: normal;
  color: #888;
}

div.page.form p.notice.warning a:hover {
  text-decoration: underline;
}

div.page.form input.error, div.page.form select.error, div.page.form textarea.error {
  background: rgba(255, 0, 0, 0.2);
}

div.page.form form[name="master-form"] {
  margin-top: 40px;
}

div.page.form div.group {
  border-top: 2px solid #aaa;
  margin: 5px 0 30px 0;
}

div.page.form div.form-group {
  width: 100%;
}

div.page.form div.form-group.join {
  height: 35px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  line-height: 35px;
  position: relative;
}

div.page.form div.form-group.join.category {
  height: 65px;
}

div.page.form div.form-group.join.category label:first-child {
  line-height: 65px;
}

div.page.form div.form-group.join.date {
  position: relative;
}

div.page.form div.form-group.join.date strong {
  position: absolute;
  top: 8px;
  font-size: 11px;
  color: #ccc;
  font-weight: bold;
}

div.page.form div.form-group.join.date input, div.page.form div.form-group.join.date label:not(:first-child), div.page.form div.form-group.join.date select, div.page.form div.form-group.join.date span.mrg {
  margin-top: 25px;
}

div.page.form div.form-group.join.date span.regular {
  margin-left: 10px;
}

div.page.form div.form-group.join.date span.regular a {
  color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 15px;
  line-height: 25px;
}

div.page.form div.form-group.join.date span.regular a:hover {
  color: orangered;
}

div.page.form div.form-group.join.career {
  height: 120px;
  line-height: 28px;
}

div.page.form div.form-group.join.career label:first-child {
  line-height: 120px;
}

div.page.form div.form-group.join label:first-child {
  background: #ddd;
  color: #555;
  width: 120px;
  height: 100%;
  line-height: 35px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 0;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

div.page.form div.form-group.join label {
  display: inline;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

div.page.form div.form-group.join input[type="radio"] {
  margin-left: 20px;
}

div.page.form div.form-group.join input[type="checkbox"] {
  margin-left: 10px;
}

div.page.form div.form-group.join textarea.tag_result {
  position: relative;
  top: -6px;
  height: 25px;
  font-weight: bold;
}

div.page.form div.form-group input[type="text"], div.page.form div.form-group input[type="email"], div.page.form div.form-group select, div.page.form div.form-group span.file_name {
  display: inline-block;
  border: 1px solid #ddd;
  font-size: 11px;
  padding: 4px 5px;
  margin-top: 5px;
  height: 25px;
  line-height: 25px;
}

div.page.form div.form-group input[type="text"]#category, div.page.form div.form-group input[type="email"]#category, div.page.form div.form-group select#category, div.page.form div.form-group span.file_name#category {
  margin-right: 200px;
}

div.page.form div.form-group input[type="text"].detail, div.page.form div.form-group input[type="email"].detail, div.page.form div.form-group select.detail, div.page.form div.form-group span.file_name.detail {
  width: 250px;
  position: relative;
  top: -6px;
}

div.page.form div.form-group input[type="text"].detail#sample6_address, div.page.form div.form-group input[type="email"].detail#sample6_address, div.page.form div.form-group select.detail#sample6_address, div.page.form div.form-group span.file_name.detail#sample6_address {
  width: 350px;
}

div.page.form div.form-group input[type="text"].sns, div.page.form div.form-group input[type="email"].sns, div.page.form div.form-group select.sns, div.page.form div.form-group span.file_name.sns {
  width: 300px;
  margin: 0;
}

div.page.form div.form-group input[type="text"].small, div.page.form div.form-group input[type="email"].small, div.page.form div.form-group select.small, div.page.form div.form-group span.file_name.small {
  width: 40px;
}

div.page.form div.form-group input[type="text"].long, div.page.form div.form-group input[type="email"].long, div.page.form div.form-group select.long, div.page.form div.form-group span.file_name.long {
  width: 300px;
}

div.page.form div.form-group input[type="text"].very-long, div.page.form div.form-group input[type="email"].very-long, div.page.form div.form-group select.very-long, div.page.form div.form-group span.file_name.very-long {
  width: 400px;
}

div.page.form div.form-group input[type="file"] {
  width: 0px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  left: -9999px;
}

div.page.form div.form-group input[type="button"] {
  font-size: 11px;
  border: 1px solid #ccc;
  background: #ddd;
  height: 25px;
  width: 80px;
  line-height: 25px;
}

div.page.form div.form-group textarea {
  margin: 5px 0;
  width: 400px;
  height: 110px;
  border: 1px solid #ddd;
  font-size: 11px;
  box-sizing: border-box;
  padding: 5px;
  line-height: 1.5;
}

div.page.form div.form-group input[type="radio"], div.page.form div.form-group input[type="checkbox"] {
  border: 1px solid #333;
  background: #fff;
  position: relative;
  top: 2px;
}

div.page.form div.form-group input[type="radio"].disagree, div.page.form div.form-group input[type="checkbox"].disagree {
  margin-left: 30px;
}

div.page.form div.form-group label, div.page.form div.form-group span:not(.error) {
  font-size: 12px;
}

div.page.form div.form-group label.example, div.page.form div.form-group span:not(.error).example {
  color: orangered;
  font-size: 11px;
  line-height: 33px;
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
}

div.page.form div.form-group.button {
  text-align: right;
  position: relative;
}

div.page.form div.form-group.button input.btn, div.page.form div.form-group.button a.btn {
  border: none;
  font-size: 12px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #ddd;
  margin: 20px 0 0 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #555;
}

div.page.form div.form-group.button input.btn.next, div.page.form div.form-group.button a.btn.next {
  background: orangered;
  color: #fff;
  font-weight: bold;
}

div.page.form div.form-group.button a.prev {
  position: absolute;
  left: 0;
}

div.page.form div.form-group.tot_agree {
  background: #333;
  padding: 3px 5px;
  box-sizing: border-box;
  text-align: right;
}

div.page.form div.form-group.tot_agree label {
  color: #fff;
  font-weight: bold;
}

div.page.form div.form-group.tot_agree input[type="radio"] {
  border: 1px solid #fff;
  background: #fff;
}

div.page.form div.form-group.agree {
  padding-top: 30px;
  position: relative;
}

div.page.form div.form-group.agree span.right {
  position: absolute;
  right: 0;
}

div.page.form div.form-group div.box {
  border-top: 2px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 100%;
  height: 200px;
  margin-top: 5px;
  overflow-y: scroll;
}

div.page.form div.add-del {
  text-align: right;
  position: relative;
  top: -30px;
}

div.page.form div.add-del i {
  margin: 0 10px;
}

div.page.form div.add-del a {
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: -1px;
  color: #555;
  margin-left: 5px;
}

div.page.form div.add-del a:hover {
  font-weight: bold;
}

div.page.form div.add-del a:active {
  position: relative;
  top: 1px;
}

div.page.form a.btn {
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
  background: #333;
  color: #fff;
  padding: 2px 7px;
  margin-left: 10px;
  line-height: 20px;
}

div.page.form a.btn:active {
  position: relative;
  top: 1px;
}

div#final-step {
  line-height: 1.2;
}

div#final-step span.result {
  font-size: 12px;
  line-height: 1.2;
  padding: 0;
  height: initial;
}

div.complete {
  width: 500px;
  clear: both;
  margin: 180px auto;
  text-align: center;
}

div.complete h1.title {
  font-size: 25px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

div.complete p {
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 1.5;
}

div.complete div.service {
  width: 250px;
  margin: 0 125px;
  text-align: left;
  padding: 50px 0 80px 0;
}

div.complete div.service p:first-child {
  margin: 20px 0;
}

div.complete div.service p b {
  letter-spacing: 0;
  font-weight: 900;
}

div.complete a.btn {
  color: #fff;
  background: orangered;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  letter-spacing: -1px;
  border-radius: 5px;
}

form[name="master-check"] {
  width: 450px;
  margin: 150px auto;
  position: relative;
}

form[name="master-check"] p {
  font-size: 12px;
  letter-spacing: -1px;
  margin: 20px 0;
}

form[name="master-check"] label {
  width: 100px;
}

form[name="master-check"] input:not([type="submit"]) {
  width: 250px;
}

form[name="master-check"] a.masterJoinBtn {
  background: orangered;
  color: #fff;
  padding: 8px 5px;
  margin-left: 5px;
  position: relative;
  top: -1px;
  font-weight: bold;
}

form[name="master-check"] div.button {
  position: absolute;
  right: 0;
  top: 40px;
  width: 80px;
  height: 60px;
}

form[name="master-check"] div.button input[type="submit"] {
  display: block;
  width: 100%;
  height: 100%;
  background: orangered;
  color: #fff;
  border: none;
  font-size: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

form[name="master-check"] div.button input[type="submit"]:disabled {
  background: #bbb;
}

form[name="master-check"] div.mastercheck {
  border-bottom: 2px solid #aaa;
  padding-bottom: 50px;
}

form[name="master-check"] div.mastercheck div.form-group {
  margin: 0;
}

div#ui-datepicker-div {
  font-size: 12px;
}

div#ui-datepicker-div select {
  letter-spacing: -1px;
  font-weight: normal;
  box-sizing: border-box;
  width: 55px;
  margin: 0 5px;
}

div#ui-datepicker-div select:last-child {
  width: 45px;
}

div#ui-datepicker-div div.ui-widget-header {
  background: #fff;
  border: none;
}

div#ui-datepicker-div select {
  border: none;
  background: none;
}

div#ui-datepicker-div .ui-state-default, div#ui-datepicker-div .ui-widget-content .ui-state-default, div#ui-datepicker-div .ui-widget-header .ui-state-default {
  background: #fff;
  border: none;
}

div#ui-datepicker-div a.ui-state-default {
  letter-spacing: -1px;
}

div#ui-datepicker-div a.ui-state-default.ui-state-active {
  color: orangered;
  font-weight: 900;
}

div.box {
  padding: 10px 5px;
}

div.box p.sub_title {
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -1px;
  margin: 10px 0;
}

div.box p {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1.5;
  text-indent: 5px;
}

div.box p.content {
  padding-left: 15px;
}

div.box ul {
  padding-left: 15px;
  font-size: 12px;
  line-height: 1.5;
}

div.box ul li {
  margin: 3px 0;
}

div.box div.contact {
  width: 250px;
  padding: 20px 0;
  margin: 5px 0;
  background: #eee;
}

div.box div.contact p {
  padding: 2px 0;
  text-indent: 20px;
}

nav.navbar {
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  padding: 0 5%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: none;
}

nav.navbar a.navbar-brand {
  padding: 0;
  margin: 20px 15px;
  height: initial;
}

nav.navbar ul.nav {
  font-size: 13px;
  height: 55px;
}

nav.navbar ul.nav li {
  height: 55px;
}

nav.navbar ul.nav li a {
  color: #fff;
  font-weight: 500;
  line-height: 55px;
  display: inline;
}

nav.navbar ul.nav li a:hover {
  font-weight: 700;
  color: orange;
}

div#footer {
  width: 100%;
  background: #333;
  padding: 30px 50px 30px 15%;
}

div#footer a {
  margin-right: 50px;
}

div#footer ul {
  float: left;
}

div#footer ul li {
  font-size: 12px;
  color: #fff;
}

div#footer ul li span {
  display: inline-block;
  width: 100px;
  color: #888;
}

div#footer ul li a {
  text-decoration: underline;
  color: #fff;
}

div#footer ul li a:hover {
  color: orangered;
}

div#footer p {
  clear: both;
  color: #fff;
  font-size: 12px;
}

div#footer div.logo-wrap {
  float: left;
  height: 100px;
}

body {
  min-width: 800px;
}

div.page {
  min-height: 600px;
}

/*# sourceMappingURL=app.css.map */
