@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.woff2') format('woff2'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.woff') format('woff'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.woff2') format('woff2'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.woff') format('woff'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.woff2') format('woff2'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.woff') format('woff'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Thin.woff2') format('woff2'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Thin.woff') format('woff'),
    url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Thin.ttf') format('truetype');
}

body, html {
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
	font-weight: 100;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
	/*position: relative;*/
}

#swiper_second {
	height: 960px !important;
}

p {
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
	font-weight: 100;
	margin: 0;
	padding: 0;
	font-size: 22px;
	line-height: 1.6;
}

h2 {
	margin: 0;
	color: #323c42;
	font-weight: 700;
	font-size: 42px;
	font-family: 'Montserrat', sans-serif;
}

a:hover, a:focus {
	text-decoration: none;
	color: #ff6142;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #ff6142;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 0;
}

img {
	width: 40%;
}

.row {
	font-weight: 500;
	width:55%;
	margin: 0 auto;
}

.container {
	width: 100%;
}



/* Navigation */
#nav {
	z-index: 9999;
	width: 100%;
}
#nav.affix {
	top: 0%;
	width: 100%
}
.navbar-custom {
	margin-bottom: 0;
	background-color: none;
	border-radius: 0px;
	padding: 10px 0;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}


.navbar-custom a {
	color: #fff;
}
.navbar-custom .nav li a {
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	text-decoration: underline;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #ff8369;
}
.navbar-custom .nav li.active {
	outline: 0;
}

.navbar-header {
	width: 14%;
	display: block;
	padding-top: 15px;
}
.navbar-header img.logo {
	margin: 0;
	width: 100%;
}
.nav {
	padding-top: 5px;
}

/*버튼*/

.btn-default {
	outline: 0;
	color: #fff;
	background-color: none;
	text-decoration: none;
	margin: 0;
	border:none;
	font-size: 22px;
	margin: 158px 158px 0px 0px;
}

#play_btn{
	margin-right: 0px;
}


.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #ff6214;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #ff6142;
	border-color: #ff6142;
}

.back_blue {
	background-color: #9CBBCE;
}

.orange {
	color: #ff6142;
}
.white {
	color: #fff;
}  

/*팝업새키*/
 #mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

 #boxes .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  padding-top:23px;
  background:#fff;
  border-radius:10px;
  width:300px; 
  height:310px;
  text-align: center;
}

#boxes p.close{
    text-align: right;
	position: absolute;
	right:15px;
	top:15px;	
}

#boxes p.close img {
	margin: 0;
	padding: 0;
}

#boxes h2{
 font-size:21px;
 color:#ff6214;
 text-align:center;
 font-weight:600;
 margin:0px;
 padding-top:25px;
 padding-bottom: 20px;
}

#boxes p.notice{
	font-size:14px;
	width: 85%;
	margin:0 auto;
	color:#1b1b1b;
	text-align: justify;
	margin-bottom: 3px;
}

#boxes input {
	width: 85%;
	padding: 7px 0px;
	margin-top: 15px;
	background: #ff8369;
	color:#fff;
	border:none;
	border-radius: 5px;
}


/* Home Section */

.swiper-container img.logo {
	width: 8%;
	z-index: 500;
	position: absolute;
	left:10%;
	top:3%;
}

#visual {
	width: 90%;
	position: absolute;
	z-index: 5;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);;
	text-align: center;
	padding: 20px;
}

#visual h1 {
	font-weight: 500;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-size: 67px;
	font-family: 'Montserrat', sans-serif;
}

#visual .intro-text p {
	color: #fff;
	padding-bottom: 5px;
}


/* About Section */
#about {
	padding: 160px 0px;
	color:#323c42;
}

#about h2 {
	color:#323c42;
	margin-bottom: 23px;
}
#about hr {
	background:#323c42;
}
#about img.app_logo {
	border-radius: 10%;
	width: 150px;
	height: 150px;
	display: block;
	margin: 38px auto 44px auto;
}
#about p{
	font-weight: 500;
	color: #84888b;
	text-align: center;
}
#about p.info_20{
	font-weight: 100;
	clear: both;
	font-size: 20px;
}
#about .row {
	/*border:1px solid green;*/
	width: 100%;
}
#about .icon_wrap {
	/*border:1px solid blue;*/
	width: 100%;
	margin:0 auto;
	text-align: center;
}
#about .icon {
	/*float: left;*/
	display: inline-block;
	width: 100px;
	padding-bottom: 47px;
	/*border:1px solid red;*/

}
#about .icon img {
	width: 100%;
	padding-bottom: 24px;
}
#about .icon p {
	color: #323c42;
	font-weight: 500;
}
#about .btn_down {
	width: 320px;
	height: 66px;
	background-color: #ff6142;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	padding-top: 13px;
	margin-top: 67px;
}

#swiper_second {
	background-color: #f5f5f5;
	height: 699px;
}
#swiper_second img {
	width: 22%;
	padding-bottom: 64px;
}

#swiper_second h2 {
	color: #424242;
	padding-bottom: 30px;
}
#master, #lesson, #play, #direct, #inquire, #review {
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
}

.wrap {
	padding-top: 80px;
	height: auto;
}

/* master Section */


#master p{
	color:#233640;
}


/* direct Section */
#direct p{
	color: #233640;
}

/* 플레이 Section */
#play {
	color: #233640;
}


/*견적 문의*/

#inquire p {
	color:#233640;
}

/* Review Section */
#review p{
	color: #233640;
}


/* Contact Section */
#contact {
	padding-top: 80px;
	padding-bottom: 40px;
	background: #9CBBCE;
	color: #233640;
}



#contact hr {
	background: #233640;
}
#contact i.fa {
	color: #fff;
	margin-bottom: 10px;
	margin-top: 70px;
}

#contact a {
	color:#233640;
}

#contact p{
	margin-bottom: 40px;
}

/* Footer Section*/
#footer {
	background: #323c42;
	padding: 30px 0 25px 0;

}
#footer p {
	font-size: 13px;
}

#footer .fnav {
	margin:0 auto;
	width: 70%;
	/*border:1px solid blue;*/
	text-align: left;
}
#footer img {
	width: 10%;
	margin-right: 60px;
	margin-top: 2px;
	float: left;
}

#footer p {
	color: #fff;
}
#footer p span {
	color: #85898c;
}

#footer a:hover {
	color: #ff6142;
}


#footer .fnav_sub {
	text-align: left;
	display: inline-block;
	/*border:1px solid red;*/
	padding-right: 25px;
	/*float: left;*/
}
#footer .fnav_sub p {
	color: #85898c;
}
#footer .fnav_sub_1 {
	text-align: left;
	display: inline-block;
	/*border:1px solid red;*/
	/*float: left;*/
	/*padding-left: 25px;*/
}
#footer .fnav_sub_2 {
	/*border:1px solid red;*/
	/*padding-left: 170px;*/
	padding-top: 20px;
	clear: both;
}
#footer .fnav_sub_2 a.escrow {
	margin-right: 20px;
}
#footer a {
	clear: both;
	color: #fff;
	display: inline-block;
}

/* Media Queries */
/*@media(min-width:768px) {

	.row {
		width: 55%;
	}

	#visual {
	position: absolute;
	z-index: 5;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	}

	#visual p {
		color: #fff;
	}


	header .intro-text {
		padding-top: 220px;
		padding-bottom: 220px;
	}
	header .intro-text .count{
		padding-right: 7px;
	}
}*/
@media(max-width:1024px) {
	#swiper_second {
		height: auto !important;
	}
	#swiper_second .row {
		margin-bottom: 150px;
	}
}
@media(max-width:768px) {
	#swiper_second {
		height: auto !important;
	}
	#swiper_second .row {
		margin-bottom: 100px;
	}
	p {
		font-size: 15px;
	}

	h2 {
		font-size: 30px;
	}

	.btn-default {
		margin: 80px 80px 0px 0px;
	}

	.row {
		width:80%;
		margin: 0 auto;
	}

	.swiper-container img.logo {
	width: 14%;
	}

	#visual {
		width: 100%;
	}
	#visual h1 {
		font-size: 40px;
	}

	#visual .intro-text a {
		font-size: 15px;
	}

	#about p.info_20 {
		font-size: 12px;
	}

	#about {
		padding: 80px 0px;
	}

	#about img.app_logo {
		margin: 18px auto 24px auto;
	}
	#about .icon {
		padding-bottom: 30px;
	}
	#about .btn_down {
	width: 220px;
	height: 50px;
	font-size: 15px;
	padding-top: 10px;
	margin-top: 37px;
	}
	
}

@media(max-width:420px) {
	#swiper_second img {
		width: 22%;
		padding-bottom: 34px;
	}
	.swiper-container img.logo {
		width: 18%;
		left:16%;
	}

	#visual {
		width: 90%;
	}
	#visual h1 {
		font-size: 25px;
	}

	#visual p {
		font-size: 11px;
	}
	#visual .intro-text a {
		border:1px solid #fff;
		display: inline-block;
		font-size: 12px;
	}
	.swiper-container {
        width: 100%;
        height: 100%;
        position: relative;
    }
	.navbar-header {
		width: 100%;
		display: block;
	}
	.navbar-header img.logo {
		margin-left: 50px;
		width: 25%;
		padding-top: 20px;
	}

	h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	hr {
		margin-bottom: 10px;
		height: 3px;
	}

	p {
		font-size: 12px;
	}
	
	img.logo {
		margin: 20px 0px;
	}

	img {
		width: 60%;
		margin: 0px;
	}

	.btn-default {
		width: 90%;
		padding: 10px 20px;
		margin: 25px auto 0px auto;
		font-size: 12px;
		display: block;
	}

	.btn-lg{
		margin-top: 30px;
		margin-right: 15px;
	}

	.intro {
		padding: 80px 0;
	}

	.intro H1 {
		font-size: 30px;
	}

	.intro .intro-text p {
		font-size: 12px;
		margin-bottom: 10px;
	}

	#about .container .row img.app_logo {
		width: 120px;
		height: 120px;
		margin: 10px auto 15px auto;
	}

	#about {
		padding: 80px 0 70px 0;
	}

	.swiper-container {
		height: 600px !important;
	}
	.swiper-container p {
		font-size: 11px;
	}
	#swiper_second .container {
		margin-top: 0px;
	}
	#swiper_second img {
		width: 25%;
	}
	.wrap {
		padding-top:80px;
		margin: 0px;
	}
	#contact i.fa {
		margin-bottom: 0px;
		margin-top: 30px;
	}

	#contact p {
		margin-bottom: 30px;
	}

	#footer {
		padding: 30px 0 25px 0;
	}
	#footer p {
		font-size: 12px;
	}
	#footer .fnav {
		margin:0 auto;
		width: 90%;
		text-align: center;
	}
	#footer img {
		display: none;
	}
	#footer .fnav_sub {
		display: inline-block;
		padding-right: 0px;
		margin: 0px;
	}
	#footer .fnav_sub_1 {
		display: inline-block;
	}
	#footer .fnav_sub_2 {
		text-align: center;
		font-size: 12px;
		padding-top: 20px;
		clear: both;
	}
	#footer .fnav_sub_2 a.escrow {
		margin-right: 0px;
		margin-bottom: 5px;
	}
	#footer a {
		clear: both;
		color: #fff;
		display: inline-block;
	}

}


